*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
:root{
    --BGCOLOR:#a7e7fe;
}
.container{
    background-color: var(--BGCOLOR);
    height: 100vh;
    width: 100vw;
}
#guestListContainer, .inputContainer{
    background-color: white;
}
